<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Houze</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>ipsc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ipsc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>moonlight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>moonlight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>nozomi</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nozomi</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>vanphuc</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>vanphuc</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>houze_super</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Client</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.604418275490-83fadcgjh20lhsq07q4dlfuia31bvl0t</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>houzepayment</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>momo</string>
		<string>zalo</string>
		<string>zalopay</string>
		<string>zalopay.api.v2</string>
		<string>payoo</string>
		<string>smartpay</string>
		<string>airpay</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập Camera để gửi ảnh cho phản hồi - App need to access your Camera to send image for ticket</string>
	<key>NSExceptionDomains</key>
	<dict>
		<key>https://integration-ws-chat.houze.io/</key>
		<dict>
			<key>NSExceptionAllowsInsecureHTTPLoads</key>
			<true/>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập địa điểm để xác định vị trí cần để tracking khi chạy bộ - App need to access your Location to tracking when running</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập địa điểm để xác định vị trí cần để tracking khi chạy bộ - App need to access your Location to tracking when running</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập địa điểm để xác định vị trí cần hỗ trợ, giải quyết sự cố - App need to access your Location to determine where to support</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập Microphone để gửi video cho phản hồi - App need to access your Microphone to send video for ticket</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vào thư viện ảnh để gửi ảnh cho phản hồi - App need to access your Photo Library to send image for ticket</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vào thư viện ảnh để gửi ảnh cho phản hồi - App need to access your Photo Library to send image for ticket</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
