
.idea/houze-super.iml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/houze-super.iml
.idea/houze-super.iml
*.iml
.DS_Store
.idea/houze-super.iml
houze_super/.fvm/flutter_sdk
houze_super/ios/Flutter/.last_build_id
