<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604418275490-83fadcgjh20lhsq07q4dlfuia31bvl0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604418275490-83fadcgjh20lhsq07q4dlfuia31bvl0t</string>
	<key>API_KEY</key>
	<string>AIzaSyBGk1rcat6sgIfeCk1FVBYX5Gv2UgIYe7A</string>
	<key>GCM_SENDER_ID</key>
	<string>604418275490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.house.citizen</string>
	<key>PROJECT_ID</key>
	<string>prod-house-citizen</string>
	<key>STORAGE_BUCKET</key>
	<string>prod-house-citizen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604418275490:ios:0429b6970538587ebd3ffb</string>
	<key>DATABASE_URL</key>
	<string>https://prod-house-citizen.firebaseio.com</string>
</dict>
</plist>